<div id="bar" style="background-position: 0% 0%"></div>

<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.title }}</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="{{ site.baseurl }}/">Home</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Letzte 5 Beitr&aumlge<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        {% for post in site.posts limit:5 %}
                        <li><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a><iframe src="{{ "/html/star.html?user=ramonwehrli&repo=ramonwehrli.github.io&type=star&count=true" | prepend: site.baseurl }}" frameborder="0" scrolling="0" width="72px" height="20px"></iframe></a>
                </li>
                <li>
                    <a><iframe src="{{ "/html/follow.html?user=ramonwehrli&type=follow&count=false" | prepend: site.baseurl }}" frameborder="0" scrolling="0" width="72px" height="20px"></iframe></a>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

